
.moncercle{
  background:white;
  border-radius:50%;
  text-align:center;
  width:20px;
  height:20px;
  border:2px solid black;  
}
.title{
  color: black;
  text-align:center;
  font:bold 14px Comic Sans MS;  
}
.commun1{
  background:whitesmoke;  
}

.commun2{
  background:dimgrey;  
}
.commun3{
  background:gray;  
}
.commun4{
  background:white;  
}
.title{
  color: black;
  text-align:center;
  font:bold 14px Comic Sans MS;  
}
.subtitle{
  color: black;
  font:normal 18px Comic Sans MS;  
}
.subtitle1{
  color: white;
  font:normal 18px Comic Sans MS;  
}

a { color: black; text-decoration: none; }
a:hover { color: red; text-decoration: underline; }
.paragraph{
  color: black;
  font:bold 14px Comic Sans MS;  
}
#saisie{
width: 1080px;
}
#recherche{
background-image:url(icone_loupe.png);
background-position:left;
background-repeat:no-repeat;
padding-left:18px;
width:100px;
}
.paragraph1{
  color: black;
  font:normal 12px Comic Sans MS;  
}
table{
border:0;
width:100%;
}
.commun1.img {
width:50px;
height:50px
}